<div class="card">
  <img class="card-img-top img-fluid" src="<%= recipe.image %>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= link_to recipe.title, recipe %></h4>
    <p class="card-text">
      <%= truncate(recipe.description, length:130) %>
    </p>
  </div>
</div>
