<% provide(:page_title, "Browse") %>
<% provide(:browse_active, "active") %>
<div class="card-columns">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>

<div class="row justify-content-md-center">
  <%= paginate @recipes %>
</div>
