<% provide(:page_title, "Browse") %>
<% provide(:browse_active, "active") %>

<p id="notice"><%= notice %></p>

<div class="card-columns">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>

<%= paginate @recipes %>
