<% provide(:page_title, "Repository") %>
<% provide(:mine_active, "active") %>
<p id="notice"><%= notice %></p>

<div class="card-columns">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>
