<% provide(:page_title, "Repository") %>
<% provide(:mine_active, "active") %>
<div class="row">
  <%= render partial:"user_recipe", object: @recipes %>
</div>

<div class="row justify-content-md-center">
  <%= paginate @recipes %>
</div>
