<% provide(:page_title, "All Tags") %>
<% provide(:tag_active, "active") %>

<div class="row title" style="padding:15px;">
  <div class="col-12">
    <h1>Tags</h1>
  </div>
</div>

<div class="row justify-content-center" style="margin:15px; line-height:32px;">
  <% @tags.each do |tag| %>
    <%= render tag %>
  <% end %>
</div>
<div class="row justify-content-center" style="margin-top:30px;">
  <%= link_to 'New Tag', new_tag_path, class:"submit" %>
</div>
