<% provide(:page_title, "Browse") %>
<% provide(:browse_active, "active") %>
<% @tags = Tag.all %>
<div class="row justify-content-center" style="margin:15px; line-height:32px;">
  <%= link_to root_path do %>
    <span id="homelink">
      All
    </span>
  <% end %>
  <% @tags.each do |tag| %>
    <% unless tag.recipes.empty? %>
      <%= render tag %>
    <% end %>
  <% end %>
</div>
<div class="card-columns">
  <% @tag.recipes.each do |recipe| %>
    <% if recipe.original %>
      <%= render recipe %>
    <% end %>
  <% end %>
</div>
